# Ignore node_modules since they will be installed in the Docker container
node_modules

# Ignore Dockerfile
Dockerfile

# Ignore docker-compose.yml if you have it, or any similar config files
docker-compose.yml

# Ignore local environment variable files
.env

# Ignore logs and other temp files
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore any other temporary or build-specific files
*.log
*.tmp
*.swp

# Optional: Ignore build directories or any other folders you don't want to copy
dist/
build/
