API_VERSION='v1'
NODE="DEVELOPMENT"

JWT_PASSWORD=secret123
ATLAS_URI="mongodb://root:password@localhost:27017/testdb?authSource=admin"
CLIENT_URI='http://localhost:5174'
SERVER_URI='http://localhost:3000'
SOCKET_TOKEN='TOKEN_TOKEN'

# Port number
PORT=3000

# JWT secret key
JWT_SECRET=backend-secret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
EMAIL_FROM=


# Firebase
apiKey=""
authDomain=""
projectId=""
storageBucket=""
messagingSenderId=""
appId=""
measurementId=""